<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="rs-header">
    <!-- Logo and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rs-navbar"
             aria-expanded="false" aria-controls="rs-navbar" aria-label="Toggle navigation">

          <semantic-link iri="https://artresearch.net/resource/start" class="rs-header-logo">
            <img src="/assets/images/logos/logo_ar_black.png">
          </semantic-link>

      {{> navbarRight }}
      </div>

      <semantic-link iri="https://artresearch.net/resource/start" class="rs-header-logo">
        <div class="logo-container">
            <img src="/assets/images/logos/logo_ar_black.png" alt="Pharos Logo" class="logo">
            <div class="logo-text">
            <span>art</span>
            <span>research</span>
            <span>.net</span>
            </div>
        </div>
      </semantic-link>


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="rs-navbar">
        <ul class="nav navbar-nav navbar-left"></ul>

        <!-- <mp-event-target-template-render id='top-header-breadcrumbs' template='\{{> Default:headerBreadcrumb}}'>
        </mp-event-target-template-render> -->

      {{> navbarRight }}
    </div>
  </div>
</nav>

{{#*inline "navbarRight"}}
  <ul class="nav navbar-nav navbar-right">
    {{!-- Update profile-dropdown on resourceForm actions --}}
    <semantic-query query='SELECT ?systemUser WHERE {
                            BIND(IRI(REPLACE(STR(?__useruri__), "%40", "_")) as ?systemUser)
                          }'
                    template='\{{> template}}'>
        <template id='template'>
          <div>
            <mp-event-proxy id='update-profile-dropdown-on-resourceForm-actions2'
                            on-event-source='\{{bindings.0.systemUser.value}}-resource-form'
                            on-event-types='["Form.ResourceCreated", "Form.ResourceUpdated", "Form.ResourceRemoved"]'
                            proxy-event-type='Component.TemplateUpdate'
                            proxy-targets='["header-profile-dropdown"]'
            ></mp-event-proxy>
          </div>
        </template>
    </semantic-query>

    {{!--  <mp-user-language-switch></mp-user-language-switch> --}}
    <li>
      <mp-anonymous-hidden alt='<li><a href="/login" title="login"></a></li>'>
        <mp-event-target-template-render id='header-profile-dropdown' template='\{{> template}}'>
          <template id='template'>
            <semantic-query query='SELECT DISTINCT ?systemUser ?systemUserName ?actorFullName ?group ?groupFullName ?image ?imageType {
                                    BIND(IRI(REPLACE(STR(?__useruri__), "%40", "_")) as ?systemUser)
                                    BIND(REPLACE(REPLACE(STR(?__useruri__), STR(User:), ""), "%40", "@") as ?systemUserName)

                                    OPTIONAL {
                                      ?systemUser crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                      ?systemUser crm:P1_is_identified_by ?actorName .
                                      ?actorName a crm:E41_Appellation .
                                      ?actorName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                      ?actorName crm:P190_has_symbolic_content ?actorFullName .
                                    }

                                    OPTIONAL {
                                      ?systemUser crm:P02i_is_range_of ?pc107 .
                                      ?pc107 rdf:type crm:PC107_has_current_or_former_member .
                                      ?pc107 crm:P01_has_domain ?group .
                                      ?group crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/user> .
                                      ?group a crm:E74_Group .
                                      ?group crm:P1_is_identified_by ?groupName .
                                      ?groupName a crm:E41_Appellation .
                                      ?groupName crm:P2_has_type <http://www.researchspace.org/resource/system/vocab/resource_type/primary_appellation> .
                                      ?groupName crm:P190_has_symbolic_content ?groupFullName .
                                    }

                                    OPTIONAL {
                                      ?systemUser rs:PX_has_main_representation ?image .
                                      ?image a ?imageType .
                                      FILTER(?imageType in (rs:EX_Digital_Image, rs:EX_Digital_Image_Region))
                                    }
                                  }'
                          template='\{{> template}}'>

            <template id='template'>

              <bs-dropdown id="navbar-dropdown" class="user-dropdown">
                <bs-dropdown-toggle>
                  <div class="navDropdown-iconAndLabel">
                    <mp-resource-thumbnail iri='\{{bindings.0.systemUser.value}}' style="width: 25px; height:25px; border-radius:1.5px; object-fit: cover; object-position: top;">
                      <mp-resource-thumbnail-fallback>
                          <rs-icon icon-type="round" icon-name="account_box"></rs-icon>
                      </mp-resource-thumbnail-fallback>
                    </mp-resource-thumbnail>
                    \{{#if bindings.0.actorFullName.value}}
                      <div>\{{bindings.0.actorFullName.value}}</div>
                    \{{else}}
                      <div>\{{bindings.0.systemUserName.value}}</div>
                    \{{/if}}
                  </div>
                </bs-dropdown-toggle>
                <bs-dropdown-menu>
                  \{{#if bindings.0.actorFullName.value}}
                    <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                              urlqueryparam-view='resource-editor'
                                              urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                              urlqueryparam-resource-iri="\{{bindings.0.systemUser.value}}"
                                              urlqueryparam-mode='edit'>
                      <bs-menu-item>
                        <rs-icon icon-type="rounded" icon-name="account_box" class="icon-left" symbol="true"></rs-icon>
                        <span>My profile</span>
                      </bs-menu-item>
                    </semantic-link-container>
                  \{{else}}
                      <bs-menu-item>
                        <rs-icon icon-type="rounded" icon-name="account_box" class="icon-left" symbol="true"></rs-icon>
                        <span>My profile (not registered user)</span>
                      </bs-menu-item>
                  \{{/if}}

                  \{{#if bindings.0.group.value}}
                    \{{#each bindings}}
                      <semantic-link-container  uri="http://www.researchspace.org/resource/ThinkingFrames"
                                                urlqueryparam-view='resource-editor'
                                                urlqueryparam-entity-type-config='http://www.researchspace.org/resource/system/resource_configurations_container/data/User'
                                                urlqueryparam-resource-iri="\{{group.value}}"
                                                urlqueryparam-mode='edit'>
                        <bs-menu-item>
                          <rs-icon icon-type="rounded" icon-name="groups" class="icon-left" symbol="true"></rs-icon>
                          <span>My team - \{{groupFullName.value}}</span>
                        </bs-menu-item>
                      </semantic-link-container>
                    \{{/each}}
                  \{{/if}}

                  <bs-menu-item divider="true"></bs-menu-item>

                  <bs-menu-item href="/logout" title='logout'>
                    <rs-icon icon-type="rounded" icon-name="logout" class="icon-left" symbol="true"></rs-icon>
                    <span>Logout</span>
                  </bs-menu-item>
                </bs-dropdown-menu>
              </bs-dropdown>
            </template>
            </semantic-query>
          </template>
        </mp-event-target-template-render>
      </mp-anonymous-hidden>
    </li>


    <!-- <mp-anonymous-hidden>
        <li>
            <button class="btn btn-icon">
                <semantic-link iri="http://www.researchspace.org/resource/admin" title="System settings" target="_blank">
                    <rs-icon icon-type="round" icon-name="settings"></rs-icon>
                </semantic-link>
            </button>
        </li>
    </mp-anonymous-hidden> -->


    <li>
        <bs-dropdown id="about-dropdown" style="margin-left: 5px;">
                <bs-dropdown-toggle>
                    <div class="navDropdown-iconAndLabel">
                        <img class="hamburger-icon" src="/assets/images/hamburger.png" alt="hamburger icon">
                    </div>
                </bs-dropdown-toggle>
                <bs-dropdown-menu>
                    <semantic-link-container uri="https://artresearch.net/resource/About">
                        <bs-menu-item>
                            About
                        </bs-menu-item>
                    </semantic-link-container>

                    <semantic-link-container uri="https://artresearch.net/resource/Partners">
                        <bs-menu-item>
                            Partners
                        </bs-menu-item>
                    </semantic-link-container>

                    <semantic-link-container uri="https://artresearch.net/resource/IntellectualProperty">
                        <bs-menu-item>
                            Intellectual Property
                        </bs-menu-item>
                    </semantic-link-container>

                    <semantic-link-container uri="https://artresearch.net/resource/PrivacyNotice">
                        <bs-menu-item>
                            Privacy Notice
                        </bs-menu-item>
                    </semantic-link-container>

                    <semantic-link-container uri="https://artresearch.net/resource/AdvisoryBoard">
                        <bs-menu-item>
                            Advisory Board
                        </bs-menu-item>
                    </semantic-link-container>

                    <semantic-link-container uri="https://artresearch.net/resource/TermsAndConditions">
                        <bs-menu-item>
                            Terms of Use
                        </bs-menu-item>
                    </semantic-link-container>
                    <mp-anonymous-hidden>
                        <li>
                          <semantic-link iri="http://www.researchspace.org/resource/admin" title="System settings" target="_blank">
                              <rs-icon icon-type="round" icon-name="settings"></rs-icon>
                          </semantic-link>
                        </li>
                    </mp-anonymous-hidden>


                    <!-- <bs-menu-item  href="mailto:info@artresearch.net">
                        Contact us
                    </bs-menu-item> -->
            </bs-dropdown-menu>
        </bs-dropdown>

    </li>

  </ul>
{{/inline}}
